@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-background: #25262C;
    --color-backboard: #1B1C20;
    --color-text-white: #fff;
    --color-text-accent: #6B6D83;
    --color-primary: #709DFF;
    --color-secondary: #9191E5;
    --color-dash: #505367;
}

a{
    text-decoration: none;
    color: var(--color-text-white);
}

ul, li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

h3{
    font-family: Kumbh Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}
h5{
    font-family: Kumbh Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0px;
    margin: 0px;
}

p{
    font-family: Kumbh Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px;
    margin: 0px;
}

.p2{
    font-family: Kumbh Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px;
    margin: 0px;
}

.p3{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--color-background);
    color: var(--color-text-white);
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.navigation{
    width: 100%;
    height: 100px;
    background-color: var(--color-backboard);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img{
    width: 70px;
    height: 70px;
}

.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.right-side ul{
    display: flex;
    gap: 24px;
}

.right-side a{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.main{
    margin-top: 32px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* Card */
.card{
    display: flex;
    flex-direction: column;
    background-color: var(--color-backboard);
    border-radius: 8px;
    padding: 18px 22px 16px 22px;
    width: auto;
    /* height: 362px; */
    height: auto;
    justify-content: space-between;

    /* border: solid 1px red; */
}

/* .card>*{
    border: solid 1px red;
} */

.card--head{
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card--tail{
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: var(--color-text-accent);
}

/* Side - bar */
.side--bar{
    width: 300px;
    display: flex;
    flex-direction: column;
    color: var(--color-text-white);
    gap: 48px;
    align-items: center;
    
}

.side--navigation{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.side--option{
    height: 60px;
    font-size: 20px;
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 12px;
    color: var(--color-text-white);
    border-radius: 8px;
    cursor: pointer;
}

.side--option:hover{
    font-size: 20px;
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 12px;
    color: var(--color-primary);
    border-radius: 8px;
    cursor: pointer;
    transition: 150ms;
}

.side--option.active{
    background-color: var(--color-backboard);
    color: var(--color-primary);
}

.side--option.inactive{
    color: var(--color-text-accent);
}

/* Subscription - block */
.subscription-block{
    width: auto;
    max-width: 210px;

    padding: 28px 35px;
    
    background: linear-gradient(#709DFF, #9191E5);

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;

    text-align: center;

    transition: 150ms;
}

.subscription-block img{
    position: absolute;
    opacity: 100%;
    mix-blend-mode: soft-light;
    z-index: 0;
}

button{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: var(--text-white, #FFF);
    background-color: transparent;
    border: solid 2px var(--color-text-white);
    border-radius: 8px;
    padding:  10px 31px 10px 31px;
    
    cursor: pointer;

    z-index: 1;

    transition: 150ms;
}

button:hover{
    background-color: var(--color-text-white);
    color: var(--color-primary);
    cursor: pointer;

    /* transition: 250ms; */
}



/* Main - grid */
.main--grid{
    width: calc(315px*2);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "1 2"
    "horizontal horizontal";
}

.horizontal{
    grid-area: horizontal;
    height: 362px;
}

.vertical{
    /* none */
}

/* Sub - grid */
.sub--grid{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Details */

.content{
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 24px;
}

.column{
    flex-direction: column;
    
}

.follower--horizontal{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.follower--data{
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
}

.follower--data::before{
    margin-top: 12px;
    margin-bottom: 16px;
    content: '';
    height: 1px;
    width: 100%;
    background-color: var(--color-dash);
}

.follower--avatar{
    width: 56px;
    height: 56px;
    background-color: #D9D9D9;;
    border-radius: 50%;
}

.follower--info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 56px;
}

/* Additional stats */

.small-stats{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.row-content{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.commission--stats{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.commission--data{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.spread{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular--tags{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tags{
    display: flex;
    gap: 10px;
}
.tag{
    width: fit-content;
    display: flex;
    padding: 7px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    background-color: #3A3A41;
}

/* Color classes */

.red{
    color: #ED4242;
}

.yellow{
    color: #DCCE54;
}

.green{
    color: #91C777;
}

.accent{
    cursor: pointer;
    color: var(--color-text-accent);
}

.secondary{
    color: var(--color-secondary);
}

.primary{
    color: var(--color-primary);
}


/* Charts */

.charts--container{
    margin-top: 24px;
}

.chart--info{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart h5{
    position: absolute;
}

.color--data{
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.chart--details{
    margin-top: 16px;
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    gap: 16px;
}

.color-secondary{
    background-color: var(--color-secondary);
}

.color-dark{
    background-color: var(--color-text-accent);
}

.color-primary{
    background-color: var(--color-primary);
}

.separator{
    background-color: var(--color-dash);
    width: 1px;
    height: 100%;
}